# ======================
# Node
# ======================
node_modules/
npm-debug.log*
yarn-error.log*

# ======================
# Angular
# ======================
.angular/
dist/
out-tsc/

# ======================
# Environment Files
# ======================
.env
.env.*

# ======================
# Logs
# ======================
logs
*.log

# ======================
# Mac / Windows
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/